:root {
 --shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
 --loader-color: #000;
}

* {
 scrollbar-width: thin;
 scrollbar-color: #999 #bbb;
}

body {
 font-family: 'Ubuntu', sans-serif;
 margin: 0px;
}

.button {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 5px;
 text-align: center;
 padding: 10px;
 border: 1px solid #b90;
 border-radius: 10px;
 background-color: #fd1;
 font-weight: bold;
 cursor: pointer;
}

.button.disabled {
 border: 1px solid #888;
 background-color: #bbb;
}

.button img {
 width: 20px;
 height: 20px;
}

.bold {
 font-weight: bold;
}

.loader {
 margin: 0 auto;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background:
  radial-gradient(farthest-side, var(--loader-color) 94%, transparent) top/8px 8px no-repeat,
  conic-gradient(transparent 30%, var(--loader-color));
 -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 8px), var(--loader-color) 0);
 animation: loader 1s infinite linear;
}

@keyframes loader {
 100% {
  transform: rotate(1turn);
 }
}

.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

.switch .slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: 0.4s;
 transition: 0.4s;
 border-radius: 34px;
}

.switch .slider:before {
 position: absolute;
 content: '';
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: 0.4s;
 transition: 0.4s;
 border-radius: 50%;
}

input:checked + .slider {
 background-color: #fd1;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

.switch input:focus-visible + .slider {
 outline: auto;
}

.modal .body input {
 padding: 10px;
 border: 1px solid #999;
 border-radius: 10px;
}

.page {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 10px;
}

.page .buttons {
 display: flex;
 gap: 10px;
}

.page .buttons .menu-button {
 display: none;
 background-color: #222;
 border-radius: 50%;
 padding: 15px;
 cursor: pointer;
}

.page .menu-button img {
 width: 20px;
 height: 20px;
}

.list-table {
 border-spacing: 0;
 border: 1px solid #000;
 border-radius: 10px;
 overflow: hidden;
}

.list-table thead tr {
 background-color: #222;
 color: #fff;
 text-align: left;
}

.list-table thead tr th,
.list-table tbody tr td {
 padding: 10px;
}

.list-table thead tr th.center,
.list-table tbody tr td.center {
 text-align: center;
}

.list-table tbody tr td .icons {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.list-table tbody tr td .icons .icon {
 display: flex;
 padding: 5px;
 cursor: pointer;
}

.list-table tbody tr td .icons .icon img {
 width: 20px;
 height: 20px;
}

.list-table tbody tr:nth-child(even) {
 background-color: #ffdd1130;
}

.list-table tbody tr:nth-child(odd) {
 background-color: #ffdd1150;
}

.list-table tbody tr:hover {
 background-color: #fd1;
}

@media (max-width: 768px) {
 .page .buttons .menu-button {
  display: flex;
 }
}
